$clr1: #77716A;
$clr2: #FDF4E7;
$clr3: #292626;

$clink: #3e73e663;

$clrgba15: rgba(119, 113, 106, 0.5);

// Legends colors

$clrbk_lgnd0_p: $clr1;

$clrbk_lgnd1_p: #4472C4;
$clrbk_lgnd1_s: rgba(68, 114, 196, 0.2);

$clrbk_lgnd2_p: #FF7C80;
$clrbk_lgnd2_s: rgba(255, 124, 128, 0.1);

$clrbk_lgnd3_p: #FF5050;
$clrbk_lgnd3_s: rgba(255, 80, 80, 0.1);

$clrbk_lgnd4_p: orange;
$clrbk_lgnd4_s: rgba(255, 192, 0, 0.1);

$clrbk_lgnd5_p: #93BF85;
$clrbk_lgnd5_s: rgba(205, 231, 187, 0.4);

$clrbk_lgnd6_p: #6EAA5E;
$clrbk_lgnd6_s: rgba(180, 227, 148, 0.2);

$clrbk_lgnd7_p: #008000;
$clrbk_lgnd7_s: rgba(112, 173, 71, 0.2);

$clrbk_lgnd8_p: #14540D;
$clrbk_lgnd8_s: rgba(84, 129, 53, 0.2);

.d_lgnd0 {
    border-color: $clr3!important;
}

.tt_lgnd0,.i_lgnd0 {
    color:  $clr2!important;
    background-color: $clr3!important;
}

.d_lgnd1 {
    border-color: $clrbk_lgnd1_p!important;
}

.tt_lgnd1,.i_lgnd1 {
    color:  $clr2!important;
    background-color: $clrbk_lgnd1_p!important;
}

.d_lgnd2 {
    border-color: $clrbk_lgnd2_p!important;
}

.tt_lgnd2,.i_lgnd2 {
    color:  $clr2!important;
    background-color: $clrbk_lgnd2_p!important;
}

.d_lgnd3 {
    border-color: $clrbk_lgnd3_p!important;
}

.tt_lgnd3,.i_lgnd3 {
    color:  $clr2!important;
    background-color: $clrbk_lgnd3_p!important;
}

.d_lgnd4 {
    border-color: $clrbk_lgnd4_p!important;
}

.tt_lgnd4,.i_lgnd4 {
    color:  $clr2!important;
    background-color: $clrbk_lgnd4_p!important;
}

.d_lgnd5 {
    border-color: $clrbk_lgnd5_p!important;
}

.tt_lgnd5,.i_lgnd5 {
    color:  $clr2!important;
    background-color: $clrbk_lgnd5_p!important;
}

.d_lgnd6 {
    border-color: $clrbk_lgnd6_p!important;
}

.tt_lgnd6,.i_lgnd6 {
    color:  $clr2!important;
    background-color: $clrbk_lgnd6_p!important;
}

.d_lgnd7 {
    border-color: $clrbk_lgnd7_p!important;
}

.tt_lgnd7,.i_lgnd7 {
    color:  $clr2!important;
    background-color: $clrbk_lgnd7_p!important;
}

.d_lgnd8 {
    border-color: $clrbk_lgnd8_p!important;
}

.tt_lgnd8,.i_lgnd8 {
    color:  $clr2!important;
    background-color: $clrbk_lgnd8_p!important;
}