$clr1: #77716A;
$clr2: #FDF4E7;
$clr3: #292626;

$clrbk_lgnd0_p: $clr1;

$clrbk_lgnd1_p: #FF0000;
$clrbk_lgnd1_s: rgba(255, 0, 0, 0.1);

$clrbk_lgnd2_p: #DB6262;
$clrbk_lgnd2_s: rgba(219, 98, 98, 0.1);

$clrbk_lgnd3_p: #61DC4D;
$clrbk_lgnd3_s: rgba(80, 181, 64, 0.1);

$clrbk_lgnd4_p: #4FAE3F;
$clrbk_lgnd4_s: rgba(64, 150, 51, 0.1);

$clrbk_lgnd5_p: #2E7823;
$clrbk_lgnd5_s: rgba(46, 120, 35, 0.1);

$clrbk_lgnd6_p: #0A4900;
$clrbk_lgnd6_s: rgba(10, 73, 0, 0.1);