/* Checkbox styles */

$black: #2D3137;
$blue: #3785BC;
$green: #329E78;
$grey: #D6D6D6;
$red: #DD3C3A;
$white: #FFFFFF;

$border-radius: 3px;

label.checkbox {
    font-size: 1rem;
    line-height: 1rem;
    cursor: pointer;
    @include checkbox($clr1);

    &.lgnd1 {
        @include checkbox($clrbk_lgnd1_p);
    }

    &.lgnd2 {
        @include checkbox($clrbk_lgnd2_p);
    }

    &.lgnd3 {
        @include checkbox($clrbk_lgnd3_p);
    }

    &.lgnd4 {
        @include checkbox($clrbk_lgnd4_p);
    }

    &.lgnd5 {
        @include checkbox($clrbk_lgnd5_p);
    }

    &.lgnd6 {
        @include checkbox($clrbk_lgnd6_p);
    }

    &.lgnd7 {
        @include checkbox($clrbk_lgnd7_p);
    }

    &.lgnd8 {
        @include checkbox($clrbk_lgnd8_p);
    }
}