.Scrim {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: $clrgba15;
    z-index: 999;
    display: flex;
    align-items: center;
    visibility: hidden;

    .dlg {
        width: 100%;
        max-width: 55%;
        min-height: 50%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto 1fr;
        grid-auto-columns: max-content;
        grid-auto-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: column;
        background-color: $clr2;
        border: 2px solid $clr1;
        border-radius: 12px;
        grid-template-areas:
            "dlg_bar dlg_cta"
            "dlg_cnt dlg_cnt";

        .dlg_bar {
            grid-area: dlg_bar;
            background-color: $clr1;
            padding: 0 8px 0 16px;
            background-color: $clr1;
            border-radius: 9.5px 0 0 0;
            display: flex;
            align-items: center;

            .lbl {
                width: auto;
                height: auto;
                font-weight: 300;
                font-size: 21px;
                color: $clr2;
                text-transform: capitalize;
            }
        }

        .dlg_cta {
            grid-area: dlg_cta;
            background-color: $clr1;
            border-radius: 0 9.5px 0 0;
        }

        .dlg_cnt {
            align-self: start;
            grid-area: dlg_cnt;
            padding: 8px 16px;
        }
    }
}