.timeline_section {
    width: auto;
    height: 100%;
    overflow-y: auto;
    display: flex;

    .timelines {
        display: grid;
        grid-template-columns: min-content min-content;
        grid-template-rows: 1fr;
        grid-auto-columns: min-content;
        gap: 0px 0px;
        grid-auto-flow: column;
        grid-template-areas:
            ". .";

        .timeline {
            display: grid;
            grid-template-columns: 60px 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px;
            grid-template-rows: 1fr 44px 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
                "tp_yr tp01 tp02 tp03 tp04 tp05 tp06 tp07 tp08 tp09 tp10 tp11 tp12"
                "line line line line line line line line line line line line line"
                "btm_yr btm01 btm02 btm03 btm04 btm05 btm06 btm07 btm08 btm09 btm10 btm11 btm12";
            height: 100%;

            .tp_yr {
                grid-area: tp_yr;
                background: rgba(119, 113, 106, 0.06);
            }

            .tp01 {
                grid-area: tp01;
                padding: 0 4px 0 23px;
                align-self: end;
            }

            .tp02 {
                grid-area: tp02;
                padding: 0 4px 0 23px;
                align-self: end; 
            }

            .tp03 {
                grid-area: tp03;
                padding: 0 4px 0 23px;
                align-self: end; 
            }

            .tp04 {
                grid-area: tp04;
                padding: 0 4px 0 23px;
                align-self: end; 
            }

            .tp05 {
                grid-area: tp05;
                padding: 0 4px 0 23px;
                align-self: end; 
            }

            .tp06 {
                grid-area: tp06;
                padding: 0 4px 0 23px;
                align-self: end; 
            }

            .tp07 {
                grid-area: tp07;
                padding: 0 4px 0 23px;
                align-self: end; 
            }

            .tp08 {
                grid-area: tp08;
                padding: 0 4px 0 23px;
                align-self: end; 
            }

            .tp09 {
                grid-area: tp09;
                padding: 0 4px 0 23px;
                align-self: end; 
            }

            .tp10 {
                grid-area: tp10;
                padding: 0 4px 0 23px;
                align-self: end; 
            }

            .tp11 {
                grid-area: tp11;
                padding: 0 4px 0 23px;
                align-self: end; 
            }

            .tp12 {
                grid-area: tp12;
                padding: 0 4px 0 23px;
                align-self: end; 
            }

            .line {
                grid-area: line;
                position: relative;

                .yr_start {
                    float: left;
                    width: 60px;
                    height: 44px;
                    background-color: $clr1;

                    .lbl {
                        float: left;
                        width: 100%;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 44px;
                        color: $clr2;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }

                .next_yr {
                    background-color: $clr2;
                    background-image: url("data:image/svg+xml,%3Csvg width='60' height='44' viewBox='0 0 60 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0H60V44H2V0Z' fill='%2377716A'/%3E%3C/svg%3E");
                }

                .start_month_year {
                    float: left;
                    width: 220px;
                    height: auto;

                    .cntr_top {
                        position: relative;
                        width: 100%;
                        height: auto;

                        .activ_c {
                            position: absolute;
                            left: 68px;
                            top: -7px;
                            width: 100px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                background-color: $clr2;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                            }
                        }

                    }

                    .cnt {
                        max-width: 220px;
                        height: 44px;
                        background-image: url("data:image/svg+xml,%3Csvg width='220' height='44' viewBox='0 0 220 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_60_2829)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0V44H0.995475L17.9186 21L0.995475 0H0ZM19.9094 21L2.98633 0H220L220 1H5L21.0748 21L5 43H220L220 44H2.98633L19.9094 21Z' fill='%2377716A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_60_2829'%3E%3Crect width='220' height='44' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

                        .lbl {
                            float: left;
                            width: 100%;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 44px;
                            color: $clr1;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }

                    .cntr_bttm {
                        position: relative;
                        width: 100%;
                        height: auto;

                        .activ_1 {
                            position: absolute;
                            left:75px;
                            top: -7px;
                            width: 70px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                            }
                        }

                        .activ_2 {
                            position: absolute;
                            left:70px;
                            top: -7px;
                            width: 80px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_3 {
                            position: absolute;
                            left:60px;
                            top: -7px;
                            width: 100px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_4 {
                            position: absolute;
                            left:60px;
                            top: -7px;
                            width: 105px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_5 {
                            position: absolute;
                            left:50px;
                            top: -7px;
                            width: 116px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_6 {
                            position: absolute;
                            left: 48px;
                            bottom: -7px;
                            width: 140px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 500;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }
                    }

                }

                .other_months {
                    float: left;
                    width: 220px;
                    height: auto;

                    .cntr_top {
                        position: relative;
                        width: 100%;
                        height: auto;

                        .activ_c {
                            position: absolute;
                            left: 68px;
                            top: -7px;
                            width: 100px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                background-color: $clr2;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                            }
                        }

                        .activ_6 {
                            position: absolute;
                            left: 68px;
                            top: -7px;
                            width: 100px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                background-color: $clr2;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                            }
                        }
                    }

                    .cnt {
                        max-width: 220px;
                        height: 44px;
                        background-image: url("data:image/svg+xml,%3Csvg width='220' height='44' viewBox='0 0 220 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_60_2838)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 43.0039V44H0.995475L17.9186 21L0.995475 0H0V0.996094H0.671875L16.8652 21.0137L0.734375 43.0039H0Z' fill='%2377716A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.98633 0L19.9094 21L2.98633 44H220L220 43H5L21.0748 21L5 1H220L220 0H2.98633Z' fill='%2377716A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_60_2838'%3E%3Crect width='220' height='44' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");

                        .lbl {
                            float: left;
                            width: 100%;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 44px;
                            color: $clr1;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }

                    .cntr_bttm {
                        position: relative;
                        width: 100%;
                        height: auto;

                        .activ_1 {
                            position: absolute;
                            left:75px;
                            top: -7px;
                            width: 70px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                            }
                        }

                        .activ_2 {
                            position: absolute;
                            left:70px;
                            top: -7px;
                            width: 80px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_3 {
                            position: absolute;
                            left:60px;
                            top: -7px;
                            width: 100px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_4 {
                            position: absolute;
                            left:60px;
                            top: -7px;
                            width: 105px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_5 {
                            position: absolute;
                            left:50px;
                            top: -7px;
                            width: 116px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_6 {
                            position: absolute;
                            left: 48px;
                            bottom: -7px;
                            width: 140px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 500;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }
                    }

                }

                .end_month_year {
                    float: left;
                    width: 220px;
                    height: auto;

                    .cntr_top {
                        position: relative;
                        width: 100%;
                        height: auto;

                        .activ_c {
                            position: absolute;
                            left: 68px;
                            top: -7px;
                            width: 100px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                background-color: $clr2;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                            }
                        }
                    }

                    .cnt {
                        max-width: 220px;
                        height: 44px;
                        background-image: url("data:image/svg+xml,%3Csvg width='220' height='45' viewBox='0 0 220 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_60_2845)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 43.5039V44.5H0.995475L17.9186 21.5L0.995475 0.5H0V1.49609H0.671875L16.8652 21.5137L0.734375 43.5039H0Z' fill='%2377716A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.98633 0.5L19.9094 21.5L2.98633 44.5H220V0.5H2.98633ZM5 1.5L21 21.5L5 43.5H219V1.5H5Z' fill='%2377716A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_60_2845'%3E%3Crect width='220' height='44' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");



                        .lbl {
                            float: left;
                            width: 100%;
                            font-size: 16px;
                            font-weight: 600;
                            line-height: 44px;
                            color: $clr1;
                            text-align: center;
                            text-transform: uppercase;
                        }
                    }

                    .cntr_bttm {
                        position: relative;
                        width: 100%;
                        height: auto;

                        .activ_1 {
                            position: absolute;
                            left:75px;
                            top: -7px;
                            width: 70px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                            }
                        }

                        .activ_2 {
                            position: absolute;
                            left:70px;
                            top: -7px;
                            width: 80px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_3 {
                            position: absolute;
                            left:60px;
                            top: -7px;
                            width: 100px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_4 {
                            position: absolute;
                            left:60px;
                            top: -7px;
                            width: 105px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_5 {
                            position: absolute;
                            left:50px;
                            top: -7px;
                            width: 116px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 400;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }

                        .activ_6 {
                            position: absolute;
                            left: 48px;
                            bottom: -7px;
                            width: 140px;
                            height: 16px;
                            background-color: $clr1;
                            border-radius: 7px;
                            padding: 2px 2px 0 8px;

                            .lbl {
                                float: left;
                                width: min-content;
                                font-size: 10px;
                                font-weight: 600;
                                line-height: 12px;
                                color: $clr2;
                            }

                            .dot {
                                width: min-content;
                                float: right;
                                width: 12px;
                                height: 12px;
                                border-radius: 6px;
                                font-size: 10px;
                                font-weight: 500;
                                line-height: 12px;
                                text-align: center;
                                color: $clr1;
                                margin-left: 2px;
                            }
                        }
                    }

                }
            }

            .btm_yr {
                grid-area: btm_yr;
                background: rgba(119, 113, 106, 0.06);
            }

            .btm01 {
                grid-area: btm01;
                padding: 0 4px 0 23px;
            }

            .btm02 {
                grid-area: btm02;
                padding: 0 4px 0 23px;
            }

            .btm03 {
                grid-area: btm03;
                padding: 0 4px 0 23px;
            }

            .btm04 {
                grid-area: btm04;
                padding: 0 4px 0 23px;
            }

            .btm05 {
                grid-area: btm05;
                padding: 0 4px 0 23px;
            }

            .btm06 {
                grid-area: btm06;
                padding: 0 4px 0 23px;
            }

            .btm07 {
                grid-area: btm07;
                padding: 0 4px 0 23px;
            }

            .btm08 {
                grid-area: btm08;
                padding: 0 4px 0 23px;
            }

            .btm09 {
                grid-area: btm09;
                padding: 0 4px 0 23px;
            }

            .btm10 {
                grid-area: btm10;
                padding: 0 4px 0 23px;
            }

            .btm11 {
                grid-area: btm11;
                padding: 0 4px 0 23px;
            }

            .btm12 {
                grid-area: btm12;
                padding: 0 4px 0 23px;
            }
        }
    }
}