.timeline_section {
    width: auto;
    height: 100%;
    overflow-y: auto;

    .timeline {
        display: grid;
        grid-template-columns: 218px 218px 218px 218px 218px 218px 218px 218px 218px 218px 218px 218px 218px;
        grid-template-rows: 1fr auto 1fr;
        grid-auto-columns: 218px;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "tp_yr tp01 tp02 tp03 tp04 tp05 tp06 tp07 tp08 tp09 tp10 tp11 tp12"
            "line line line line line line line line line line line line line"
            "btm_yr btm01 btm02 btm03 btm04 btm05 btm06 btm07 btm08 btm09 btm10 btm11 btm12";
            height: 100%;

        .tp_yr {
            grid-area: tp_yr;
            background-color: aqua;
        }

        .tp01 {
            grid-area: tp01;
            background-color: rgb(19, 160, 160);
        }

        .tp02 {
            grid-area: tp02;
        }

        .tp03 {
            grid-area: tp03;
        }

        .tp04 {
            grid-area: tp04;
        }

        .tp05 {
            grid-area: tp05;
        }

        .tp06 {
            grid-area: tp06;
        }

        .tp07 {
            grid-area: tp07;
        }

        .tp08 {
            grid-area: tp08;
        }

        .tp09 {
            grid-area: tp09;
        }

        .tp10 {
            grid-area: tp10;
        }

        .tp11 {
            grid-area: tp11;
        }

        .tp12 {
            grid-area: tp12;
        }

        .line {
            grid-area: line;
            position: relative;

            .start_end_month_year {
                float: left;
                width: 236px;
                height: auto;
                background-color: cadetblue;

                .cntr_top {
                    position: relative;
                    width: 100%;
                    height: auto;
                    background-color: orange;

                    .activ {
                        position: absolute;
                        left: 68px;
                        top: -7px;
                        width: 100px;
                        height: 16px;
                        background-color: $clr1;
                        border-radius: 7px;
                        padding: 2px 2px 0 8px;

                        .lbl {
                            float: left;
                            width: min-content;
                            font-size: 10px;
                            font-weight: 600;
                            line-height: 12px;
                            color: $clr2;
                        }

                        .dot {
                            width: min-content;
                            float: right;
                            width: 12px;
                            height: 12px;
                            border-radius: 6px;
                            background-color: $clr2;
                            font-size: 10px;
                            font-weight: 400;
                            line-height: 12px;
                            text-align: center;
                            color: $clr1;
                        }
                    }
                }

                .cnt {
                    max-width: 235px;
                    height: 43px;
                    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' preserveAspectRatio='none' viewBox='0 0 235 43' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M 17.419 20.976 L 17.659 20.661 L 17.407 20.355 L 1.059 0.5 H 217.467 L 234.358 20.685 L 217.455 42.5 H 1.01 L 17.419 20.976 Z' stroke='%2377716A'%3E%3C/path%3E%3C/svg%3E");

                    .lbl {
                        float: left;
                        width: 100%;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 43px;
                        color: $clr1;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }

                .cntr_bttm {
                    position: relative;
                    width: 100%;
                    height: auto;
                    background-color: orange;

                    .activ {
                        position: absolute;
                        left: 48px;
                        bottom: -7px;
                        width: 140px;
                        height: 16px;
                        background-color: $clr1;
                        border-radius: 7px;
                        padding: 2px 2px 0 8px;

                        .lbl {
                            float: left;
                            width: min-content;
                            font-size: 10px;
                            font-weight: 600;
                            line-height: 12px;
                            color: $clr2;
                        }

                        .dot {
                            width: min-content;
                            float: right;
                            width: 12px;
                            height: 12px;
                            border-radius: 6px;
                            font-size: 10px;
                            font-weight: 500;
                            line-height: 12px;
                            text-align: center;
                            color: $clr1;
                            margin-left: 2px;
                        }
                    }
                }

            }

            .other_months {
                float: left;
                width: 236px;
                height: auto;
                background-color: cadetblue;

                .cntr_top {
                    position: relative;
                    width: 100%;
                    height: auto;
                    background-color: orange;

                    .activ {
                        position: absolute;
                        left: 68px;
                        top: -7px;
                        width: 100px;
                        height: 16px;
                        background-color: $clr1;
                        border-radius: 7px;
                        padding: 2px 2px 0 8px;

                        .lbl {
                            float: left;
                            width: min-content;
                            font-size: 10px;
                            font-weight: 600;
                            line-height: 12px;
                            color: $clr2;
                        }

                        .dot {
                            width: min-content;
                            float: right;
                            width: 12px;
                            height: 12px;
                            border-radius: 6px;
                            background-color: $clr2;
                            font-size: 10px;
                            font-weight: 400;
                            line-height: 12px;
                            text-align: center;
                            color: $clr1;
                        }
                    }
                }

                .cnt {
                    max-width: 235px;
                    height: 43px;
                    background-image: url("data:image/svg+xml,%3Csvg width='222' height='44' viewBox='0 0 222 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.399414 1.91699H1.02217L17.408 21.483L1.17261 42.9504H0.399414V43.9504H1.42136H1.67011L1.82016 43.752L18.4457 21.7688L18.6857 21.4513L18.4302 21.1461L1.63895 1.09597L1.48906 0.916992H1.25562H0.399414V1.91699ZM3.71362 0.919922H2.64131L3.33061 1.74133L19.8592 21.4376L3.59857 43.1505L2.99967 43.9502H3.99878H221.413V42.9502H4.99789L20.8973 21.7196L21.135 21.4023L20.8801 21.0985L4.78594 1.91992H221.414V0.919922H3.71362Z' fill='%2377716A'/%3E%3C/svg%3E");

                    .lbl {
                        float: left;
                        width: 100%;
                        font-size: 16px;
                        font-weight: 600;
                        line-height: 43px;
                        color: $clr1;
                        text-align: center;
                        text-transform: uppercase;
                    }
                }

                .cntr_bttm {
                    position: relative;
                    width: 100%;
                    height: auto;
                    background-color: orange;

                    .activ {
                        position: absolute;
                        left: 48px;
                        bottom: -7px;
                        width: 140px;
                        height: 16px;
                        background-color: $clr1;
                        border-radius: 7px;
                        padding: 2px 2px 0 8px;

                        .lbl {
                            float: left;
                            width: min-content;
                            font-size: 10px;
                            font-weight: 600;
                            line-height: 12px;
                            color: $clr2;
                        }

                        .dot {
                            width: min-content;
                            float: right;
                            width: 12px;
                            height: 12px;
                            border-radius: 6px;
                            font-size: 10px;
                            font-weight: 500;
                            line-height: 12px;
                            text-align: center;
                            color: $clr1;
                            margin-left: 2px;
                        }
                    }
                }

            }
        }

        .btm_yr {
            grid-area: btm_yr;
        }

        .btm01 {
            grid-area: btm01;
        }

        .btm02 {
            grid-area: btm02;
        }

        .btm03 {
            grid-area: btm03;
        }

        .btm04 {
            grid-area: btm04;
        }

        .btm05 {
            grid-area: btm05;
        }

        .btm06 {
            grid-area: btm06;
        }

        .btm07 {
            grid-area: btm07;
        }

        .btm08 {
            grid-area: btm08;
        }

        .btm09 {
            grid-area: btm09;
        }

        .btm10 {
            grid-area: btm10;
        }

        .btm11 {
            grid-area: btm11;
        }

        .btm12 {
            grid-area: btm12;
        }
    }

}