@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.lgnd1_p {
  color: #FDF4E7 !important;
  background-color: #FF0000;
}

.lgnd1_s {
  color: #FF0000;
  background-color: rgba(255, 0, 0, 0.1);
}

.lgnd2_p {
  color: #FDF4E7 !important;
  background-color: #DB6262;
}

.lgnd2_s {
  color: #DB6262;
  background-color: rgba(219, 98, 98, 0.1);
}

.lgnd3_p {
  color: #77716A !important;
  background-color: #61DC4D;
}

.lgnd3_s {
  color: #61DC4D;
  background-color: rgba(80, 181, 64, 0.1);
}

.lgnd4_p {
  color: #FDF4E7 !important;
  background-color: #4FAE3F;
}

.lgnd4_s {
  color: #4FAE3F;
  background-color: rgba(64, 150, 51, 0.1);
}

.lgnd5_p {
  color: #FDF4E7 !important;
  background-color: #2E7823;
}

.lgnd5_s {
  color: #2E7823;
  background-color: rgba(46, 120, 35, 0.1);
}

.lgnd6_p {
  color: #FDF4E7 !important;
  background-color: #0A4900;
}

.lgnd6_s {
  color: #0A4900;
  background-color: rgba(10, 73, 0, 0.1);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --select-border: #9E9E9E;
  --select-focus: #2f6997;
  --select-arrow: var(--select-border);
}

html,
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #FDF4E7;
}
body .wrapper {
  width: 100%;
  height: 100%;
}
body .wrapper .top_bar {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-auto-rows: 1fr;
  grid-template-columns: auto 1fr;
  grid-template-rows: 36px 36px;
  gap: 0px 0px;
  margin: 0 16px;
  padding: 8px 0;
  border-bottom: 1px solid #292626;
  grid-template-areas: "top_left top_ctrs" "top_left top_lgnds";
}
body .wrapper .top_bar .top_left {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "l1" "l2" "l3";
  grid-area: top_left;
}
body .wrapper .top_bar .top_left .l1 {
  align-self: start;
  grid-area: l1;
  font-weight: 700;
  color: #77716A;
}
body .wrapper .top_bar .top_left .l2 {
  align-self: end;
  grid-area: l2;
  color: #292626;
  font-weight: 700;
  font-size: 16px;
}
body .wrapper .top_bar .top_left .l3 {
  align-self: end;
  grid-area: l3;
  color: #77716A;
  font-weight: 700;
  font-size: 16px;
}
body .wrapper .top_bar .top_left .l3 span {
  font-weight: 400;
}
body .wrapper .top_bar .top_ctrs {
  justify-self: end;
  align-self: center;
  grid-area: top_ctrs;
}
body .wrapper .top_bar .top_ctrs .select {
  float: left;
  margin-left: 8px;
}
body .wrapper .top_bar .top_lgnds {
  justify-self: end;
  align-self: end;
  grid-area: top_lgnds;
}
body .wrapper .top_bar .top_lgnds div {
  float: left;
}
body .wrapper .content {
  padding: 8px 16px 0;
  width: 100%;
  height: calc(100% - 91px);
  padding-bottom: 8px;
  /* total width */
  /* background of the scrollbar except button or resizer */
  /* scrollbar itself */
  /* set button(top and bottom of the scrollbar) */
}
body .wrapper .content ::-webkit-scrollbar {
  background-color: #FDF4E7;
  height: 4px;
  border-radius: 2px;
}
body .wrapper .content ::-webkit-scrollbar-track {
  background-color: #FDF4E7;
  border-radius: 4px;
}
body .wrapper .content ::-webkit-scrollbar-thumb {
  background-color: #77716A;
  border-radius: 4px;
}
body .wrapper .content ::-webkit-scrollbar-button {
  display: none;
}

.timeline_section {
  width: auto;
  height: 100%;
  overflow-y: auto;
  display: flex;
}
.timeline_section .timelines {
  display: grid;
  grid-template-columns: min-content min-content;
  grid-template-rows: 1fr;
  grid-auto-columns: min-content;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: ". .";
}
.timeline_section .timelines .timeline {
  display: grid;
  grid-template-columns: 60px 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px 220px;
  grid-template-rows: 1fr 44px 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "tp_yr tp01 tp02 tp03 tp04 tp05 tp06 tp07 tp08 tp09 tp10 tp11 tp12" "line line line line line line line line line line line line line" "btm_yr btm01 btm02 btm03 btm04 btm05 btm06 btm07 btm08 btm09 btm10 btm11 btm12";
}
.timeline_section .timelines .timeline .tp_yr {
  grid-area: tp_yr;
  background: rgba(119, 113, 106, 0.06);
}
.timeline_section .timelines .timeline .tp01 {
  grid-area: tp01;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .tp02 {
  grid-area: tp02;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .tp03 {
  grid-area: tp03;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .tp04 {
  grid-area: tp04;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .tp05 {
  grid-area: tp05;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .tp06 {
  grid-area: tp06;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .tp07 {
  grid-area: tp07;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .tp08 {
  grid-area: tp08;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .tp09 {
  grid-area: tp09;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .tp10 {
  grid-area: tp10;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .tp11 {
  grid-area: tp11;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .tp12 {
  grid-area: tp12;
  padding: 0 4px 0 23px;
  align-self: end;
}
.timeline_section .timelines .timeline .t_line {
  grid-area: line;
  position: relative;
}
.timeline_section .timelines .timeline .t_line .yr_start {
  float: left;
  width: 60px;
  height: 44px;
  background-color: #77716A;
}
.timeline_section .timelines .timeline .t_line .yr_start .lbl {
  float: left;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 44px;
  color: #FDF4E7;
  text-align: center;
  text-transform: uppercase;
}
.timeline_section .timelines .timeline .t_line .next_yr {
  background-color: #FDF4E7;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='44' viewBox='0 0 60 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0H60V44H2V0Z' fill='%2377716A'/%3E%3C/svg%3E");
}
.timeline_section .timelines .timeline .t_line .start_month_year {
  float: left;
  width: 220px;
  height: auto;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_top {
  position: relative;
  width: 100%;
  height: auto;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_top .activ_c {
  position: absolute;
  left: 68px;
  top: -7px;
  width: 100px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_top .activ_c .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_top .activ_c .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #FDF4E7;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cnt {
  max-width: 220px;
  height: 44px;
  background-image: url("data:image/svg+xml,%3Csvg width='220' height='44' viewBox='0 0 220 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_60_2829)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0V44H0.995475L17.9186 21L0.995475 0H0ZM19.9094 21L2.98633 0H220L220 1H5L21.0748 21L5 43H220L220 44H2.98633L19.9094 21Z' fill='%2377716A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_60_2829'%3E%3Crect width='220' height='44' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.timeline_section .timelines .timeline .t_line .start_month_year .cnt .lbl {
  float: left;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 44px;
  color: #77716A;
  text-align: center;
  text-transform: uppercase;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm {
  position: relative;
  width: 100%;
  height: auto;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_1 {
  position: absolute;
  left: 75px;
  top: -7px;
  width: 70px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_1 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_1 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_2 {
  position: absolute;
  left: 70px;
  top: -7px;
  width: 80px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_2 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_2 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_3 {
  position: absolute;
  left: 60px;
  top: -7px;
  width: 100px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_3 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_3 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_4 {
  position: absolute;
  left: 60px;
  top: -7px;
  width: 105px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_4 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_4 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_5 {
  position: absolute;
  left: 50px;
  top: -7px;
  width: 116px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_5 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_5 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_6 {
  position: absolute;
  left: 48px;
  bottom: -7px;
  width: 140px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_6 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .start_month_year .cntr_bttm .activ_6 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .other_months {
  float: left;
  width: 220px;
  height: auto;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_top {
  position: relative;
  width: 100%;
  height: auto;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_top .activ_c {
  position: absolute;
  left: 68px;
  top: -7px;
  width: 100px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_top .activ_c .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_top .activ_c .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #FDF4E7;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_top .activ_6 {
  position: absolute;
  left: 68px;
  top: -7px;
  width: 100px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_top .activ_6 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_top .activ_6 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #FDF4E7;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
}
.timeline_section .timelines .timeline .t_line .other_months .cnt {
  max-width: 220px;
  height: 44px;
  background-image: url("data:image/svg+xml,%3Csvg width='220' height='44' viewBox='0 0 220 44' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_60_2838)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 43.0039V44H0.995475L17.9186 21L0.995475 0H0V0.996094H0.671875L16.8652 21.0137L0.734375 43.0039H0Z' fill='%2377716A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.98633 0L19.9094 21L2.98633 44H220L220 43H5L21.0748 21L5 1H220L220 0H2.98633Z' fill='%2377716A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_60_2838'%3E%3Crect width='220' height='44' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.timeline_section .timelines .timeline .t_line .other_months .cnt .lbl {
  float: left;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 44px;
  color: #77716A;
  text-align: center;
  text-transform: uppercase;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm {
  position: relative;
  width: 100%;
  height: auto;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_1 {
  position: absolute;
  left: 75px;
  top: -7px;
  width: 70px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_1 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_1 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_2 {
  position: absolute;
  left: 70px;
  top: -7px;
  width: 80px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_2 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_2 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_3 {
  position: absolute;
  left: 60px;
  top: -7px;
  width: 100px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_3 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_3 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_4 {
  position: absolute;
  left: 60px;
  top: -7px;
  width: 105px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_4 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_4 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_5 {
  position: absolute;
  left: 50px;
  top: -7px;
  width: 116px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_5 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_5 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_6 {
  position: absolute;
  left: 48px;
  bottom: -7px;
  width: 140px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_6 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .other_months .cntr_bttm .activ_6 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .end_month_year {
  float: left;
  width: 220px;
  height: auto;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_top {
  position: relative;
  width: 100%;
  height: auto;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_top .activ_c {
  position: absolute;
  left: 68px;
  top: -7px;
  width: 100px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_top .activ_c .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_top .activ_c .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  background-color: #FDF4E7;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cnt {
  max-width: 220px;
  height: 44px;
  background-image: url("data:image/svg+xml,%3Csvg width='220' height='45' viewBox='0 0 220 45' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_60_2845)'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 43.5039V44.5H0.995475L17.9186 21.5L0.995475 0.5H0V1.49609H0.671875L16.8652 21.5137L0.734375 43.5039H0Z' fill='%2377716A'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.98633 0.5L19.9094 21.5L2.98633 44.5H220V0.5H2.98633ZM5 1.5L21 21.5L5 43.5H219V1.5H5Z' fill='%2377716A'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_60_2845'%3E%3Crect width='220' height='44' fill='white' transform='translate(0 0.5)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.timeline_section .timelines .timeline .t_line .end_month_year .cnt .lbl {
  float: left;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  line-height: 44px;
  color: #77716A;
  text-align: center;
  text-transform: uppercase;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm {
  position: relative;
  width: 100%;
  height: auto;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_1 {
  position: absolute;
  left: 75px;
  top: -7px;
  width: 70px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_1 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_1 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_2 {
  position: absolute;
  left: 70px;
  top: -7px;
  width: 80px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_2 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_2 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_3 {
  position: absolute;
  left: 60px;
  top: -7px;
  width: 100px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_3 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_3 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_4 {
  position: absolute;
  left: 60px;
  top: -7px;
  width: 105px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_4 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_4 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_5 {
  position: absolute;
  left: 50px;
  top: -7px;
  width: 116px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_5 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_5 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_6 {
  position: absolute;
  left: 48px;
  bottom: -7px;
  width: 140px;
  height: 16px;
  background-color: #77716A;
  border-radius: 7px;
  padding: 2px 2px 0 8px;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_6 .lbl {
  float: left;
  width: min-content;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  color: #FDF4E7;
}
.timeline_section .timelines .timeline .t_line .end_month_year .cntr_bttm .activ_6 .dot {
  width: min-content;
  float: right;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  color: #77716A;
  margin-left: 2px;
}
.timeline_section .timelines .timeline .btm_yr {
  grid-area: btm_yr;
  background: rgba(119, 113, 106, 0.06);
}
.timeline_section .timelines .timeline .btm01 {
  grid-area: btm01;
  padding: 0 4px 0 23px;
}
.timeline_section .timelines .timeline .btm02 {
  grid-area: btm02;
  padding: 0 4px 0 23px;
}
.timeline_section .timelines .timeline .btm03 {
  grid-area: btm03;
  padding: 0 4px 0 23px;
}
.timeline_section .timelines .timeline .btm04 {
  grid-area: btm04;
  padding: 0 4px 0 23px;
}
.timeline_section .timelines .timeline .btm05 {
  grid-area: btm05;
  padding: 0 4px 0 23px;
}
.timeline_section .timelines .timeline .btm06 {
  grid-area: btm06;
  padding: 0 4px 0 23px;
}
.timeline_section .timelines .timeline .btm07 {
  grid-area: btm07;
  padding: 0 4px 0 23px;
}
.timeline_section .timelines .timeline .btm08 {
  grid-area: btm08;
  padding: 0 4px 0 23px;
}
.timeline_section .timelines .timeline .btm09 {
  grid-area: btm09;
  padding: 0 4px 0 23px;
}
.timeline_section .timelines .timeline .btm10 {
  grid-area: btm10;
  padding: 0 4px 0 23px;
}
.timeline_section .timelines .timeline .btm11 {
  grid-area: btm11;
  padding: 0 4px 0 23px;
}
.timeline_section .timelines .timeline .btm12 {
  grid-area: btm12;
  padding: 0 4px 0 23px;
}

.panel_top {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: auto 19px;
  gap: 0px 0px;
  grid-template-areas: "contributions" "line";
}
.panel_top .contributions {
  grid-area: contributions;
  border: 1px solid #77716A;
  border-radius: 10px;
  padding: 8px 4px 8px 8px;
  max-height: 35vh;
  background: rgba(119, 113, 106, 0.04);
  /* total width */
  /* background of the scrollbar except button or resizer */
  /* scrollbar itself */
  /* set button(top and bottom of the scrollbar) */
}
.panel_top .contributions ::-webkit-scrollbar {
  background-color: #FDF4E7;
  width: 4px;
  border-radius: 2px;
}
.panel_top .contributions ::-webkit-scrollbar-track {
  background-color: #FDF4E7;
  border-radius: 4px;
}
.panel_top .contributions ::-webkit-scrollbar-thumb {
  background-color: #77716A;
  border-radius: 4px;
}
.panel_top .contributions ::-webkit-scrollbar-button {
  display: none;
}
.panel_top .contributions .cards {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-right: 4px;
}
.panel_top .line {
  grid-area: line;
  background: linear-gradient(#77716A, #77716A) no-repeat center/1px 100%;
}

.panel_bottom {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-auto-rows: 1fr;
  grid-template-columns: 1fr;
  grid-template-rows: 19px auto;
  gap: 0px 0px;
  grid-template-areas: "line" "impacts";
}
.panel_bottom .impacts {
  grid-area: impacts;
  border: 1px solid #77716A;
  border-radius: 10px;
  padding: 8px 4px 8px 8px;
  max-height: 35vh;
  background: rgba(119, 113, 106, 0.04);
  /* total width */
  /* background of the scrollbar except button or resizer */
  /* scrollbar itself */
  /* set button(top and bottom of the scrollbar) */
}
.panel_bottom .impacts ::-webkit-scrollbar {
  background-color: #FDF4E7;
  width: 4px;
  border-radius: 2px;
}
.panel_bottom .impacts ::-webkit-scrollbar-track {
  background-color: #FDF4E7;
  border-radius: 4px;
}
.panel_bottom .impacts ::-webkit-scrollbar-thumb {
  background-color: #77716A;
  border-radius: 4px;
}
.panel_bottom .impacts ::-webkit-scrollbar-button {
  display: none;
}
.panel_bottom .impacts .cards {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  padding-right: 4px;
}
.panel_bottom .line {
  grid-area: line;
  background: linear-gradient(#77716A, #77716A) no-repeat center/1px 100%;
}

.card_contr {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: "title" "cont";
  border: 1px solid #77716A;
  border-radius: 6px;
  margin: 4px 0;
  background: rgba(119, 113, 106, 0.06);
}
.card_contr .title {
  grid-area: title;
  padding: 0 8px;
  background-color: #77716A;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FDF4E7;
  border-radius: 5px 5px 0 0;
}
.card_contr .cont {
  grid-area: cont;
  font-weight: 300;
  font-size: 11px;
  line-height: 12px;
  padding: 8px;
}

.card_lgnd1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: "title" "subtitle" "cont";
  border: 1px solid #FF0000;
  border-radius: 6px;
  margin: 4px 0;
  background: rgba(119, 113, 106, 0.06);
}
.card_lgnd1 .title {
  grid-area: title;
  padding: 0 8px;
  background-color: #77716A;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FDF4E7;
  border-radius: 5px 5px 0 0;
  background: #FF0000;
}
.card_lgnd1 .subtitle {
  grid-area: subtitle;
  padding: 0 8px;
  background: rgba(255, 0, 0, 0.1);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FF0000;
}
.card_lgnd1 .cont {
  grid-area: cont;
  font-weight: 300;
  font-size: 11px;
  line-height: 12px;
  padding: 8px;
}

.card_lgnd2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: "title" "subtitle" "cont";
  border: 1px solid #DB6262;
  border-radius: 6px;
  margin: 4px 0;
  background: rgba(119, 113, 106, 0.06);
}
.card_lgnd2 .title {
  grid-area: title;
  padding: 0 8px;
  background-color: #77716A;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FDF4E7;
  border-radius: 5px 5px 0 0;
  background: #DB6262;
}
.card_lgnd2 .subtitle {
  grid-area: subtitle;
  padding: 0 8px;
  background: rgba(219, 98, 98, 0.1);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #DB6262;
}
.card_lgnd2 .cont {
  grid-area: cont;
  font-weight: 300;
  font-size: 11px;
  line-height: 12px;
  padding: 8px;
}

.card_lgnd3 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: "title" "subtitle" "cont";
  border: 1px solid #61DC4D;
  border-radius: 6px;
  margin: 4px 0;
  background: rgba(119, 113, 106, 0.06);
}
.card_lgnd3 .title {
  grid-area: title;
  padding: 0 8px;
  background-color: #77716A;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FDF4E7;
  border-radius: 5px 5px 0 0;
  background: #61DC4D;
}
.card_lgnd3 .subtitle {
  grid-area: subtitle;
  padding: 0 8px;
  background: rgba(80, 181, 64, 0.1);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #2E7823;
}
.card_lgnd3 .cont {
  grid-area: cont;
  font-weight: 300;
  font-size: 11px;
  line-height: 12px;
  padding: 8px;
}

.card_lgnd4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: "title" "subtitle" "cont";
  border: 1px solid #4FAE3F;
  border-radius: 6px;
  margin: 4px 0;
  background: rgba(119, 113, 106, 0.06);
}
.card_lgnd4 .title {
  grid-area: title;
  padding: 0 8px;
  background-color: #77716A;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FDF4E7;
  border-radius: 5px 5px 0 0;
  background: #4FAE3F;
}
.card_lgnd4 .subtitle {
  grid-area: subtitle;
  padding: 0 8px;
  background: rgba(64, 150, 51, 0.1);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #4FAE3F;
}
.card_lgnd4 .cont {
  grid-area: cont;
  font-weight: 300;
  font-size: 11px;
  line-height: 12px;
  padding: 8px;
}

.card_lgnd5 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: "title" "subtitle" "cont";
  border: 1px solid #2E7823;
  border-radius: 6px;
  margin: 4px 0;
  background: rgba(119, 113, 106, 0.06);
}
.card_lgnd5 .title {
  grid-area: title;
  padding: 0 8px;
  background-color: #77716A;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FDF4E7;
  border-radius: 5px 5px 0 0;
  background: #2E7823;
}
.card_lgnd5 .subtitle {
  grid-area: subtitle;
  padding: 0 8px;
  background: rgba(46, 120, 35, 0.1);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #2E7823;
}
.card_lgnd5 .cont {
  grid-area: cont;
  font-weight: 300;
  font-size: 11px;
  line-height: 12px;
  padding: 8px;
}

.card_lgnd6 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: column;
  grid-template-areas: "title" "subtitle" "cont";
  border: 1px solid #0A4900;
  border-radius: 6px;
  margin: 4px 0;
  background: rgba(119, 113, 106, 0.06);
}
.card_lgnd6 .title {
  grid-area: title;
  padding: 0 8px;
  background-color: #77716A;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #FDF4E7;
  border-radius: 5px 5px 0 0;
  background: #0A4900;
}
.card_lgnd6 .subtitle {
  grid-area: subtitle;
  padding: 0 8px;
  background: rgba(10, 73, 0, 0.1);
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  color: #0A4900;
}
.card_lgnd6 .cont {
  grid-area: cont;
  font-weight: 300;
  font-size: 11px;
  line-height: 12px;
  padding: 8px;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  z-index: 1;
  outline: none;
}
select::-ms-expand {
  display: none;
}

.select {
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
  min-width: 15ch;
  max-width: 25ch;
  border: 1px solid var(--select-border);
  border-radius: 2px;
  padding: 8px 8px;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select select, .select::after {
  grid-area: select;
}
.select:not(.select--multiple)::after {
  content: "";
  justify-self: end;
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 1px solid var(--select-focus);
  border-radius: inherit;
}

select[multiple] {
  padding-right: 0;
  /*
   * Safari will not reveal an option
   * unless the select height has room to 
   * show all of it
   * Firefox and Chrome allow showing 
   * a partial option
   */
  height: 6rem;
  /* 
   * Experimental - styling of selected options
   * in the multiselect
   * Not supported crossbrowser
   */
}
select[multiple] option {
  white-space: normal;
  outline-color: var(--select-focus);
}

.select--disabled {
  cursor: not-allowed;
  background-color: #eee;
  background-image: linear-gradient(to top, #ddd, #eee 33%);
}

label {
  font-size: 1.125rem;
  font-weight: 500;
}

.select + label {
  margin-top: 2rem;
}

/* Checkbox styles */
label.checkbox {
  font-size: 1rem;
  line-height: 1rem;
  cursor: pointer;
  margin-left: 1rem;
  padding-left: 21px;
  position: relative;
  color: #77716A;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox input[type=checkbox] {
  position: absolute;
  opacity: 0;
  transform: scale(1.5);
}
label.checkbox input[type=checkbox]:checked ~ span {
  color: #FFFFFF;
  background: #FDF4E7 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #FDF4E7;
}
label.checkbox span {
  border-radius: 3px;
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #d4d7dc;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd1 {
  margin-left: 1rem;
  padding-left: 21px;
  position: relative;
  color: #77716A;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd1 input[type=checkbox] {
  position: absolute;
  opacity: 0;
  transform: scale(1.5);
}
label.checkbox.lgnd1 input[type=checkbox]:checked ~ span {
  color: #FFFFFF;
  background: #FF0000 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #FF0000;
}
label.checkbox.lgnd1 span {
  border-radius: 3px;
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #d4d7dc;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd2 {
  margin-left: 1rem;
  padding-left: 21px;
  position: relative;
  color: #77716A;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd2 input[type=checkbox] {
  position: absolute;
  opacity: 0;
  transform: scale(1.5);
}
label.checkbox.lgnd2 input[type=checkbox]:checked ~ span {
  color: #FFFFFF;
  background: #DB6262 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #DB6262;
}
label.checkbox.lgnd2 span {
  border-radius: 3px;
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #d4d7dc;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd3 {
  margin-left: 1rem;
  padding-left: 21px;
  position: relative;
  color: #77716A;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd3 input[type=checkbox] {
  position: absolute;
  opacity: 0;
  transform: scale(1.5);
}
label.checkbox.lgnd3 input[type=checkbox]:checked ~ span {
  color: #FFFFFF;
  background: #61DC4D url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #61DC4D;
}
label.checkbox.lgnd3 span {
  border-radius: 3px;
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #d4d7dc;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd4 {
  margin-left: 1rem;
  padding-left: 21px;
  position: relative;
  color: #77716A;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd4 input[type=checkbox] {
  position: absolute;
  opacity: 0;
  transform: scale(1.5);
}
label.checkbox.lgnd4 input[type=checkbox]:checked ~ span {
  color: #FFFFFF;
  background: #4FAE3F url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #4FAE3F;
}
label.checkbox.lgnd4 span {
  border-radius: 3px;
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #d4d7dc;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd5 {
  margin-left: 1rem;
  padding-left: 21px;
  position: relative;
  color: #77716A;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd5 input[type=checkbox] {
  position: absolute;
  opacity: 0;
  transform: scale(1.5);
}
label.checkbox.lgnd5 input[type=checkbox]:checked ~ span {
  color: #FFFFFF;
  background: #2E7823 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #2E7823;
}
label.checkbox.lgnd5 span {
  border-radius: 3px;
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #d4d7dc;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd6 {
  margin-left: 1rem;
  padding-left: 21px;
  position: relative;
  color: #77716A;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox.lgnd6 input[type=checkbox] {
  position: absolute;
  opacity: 0;
  transform: scale(1.5);
}
label.checkbox.lgnd6 input[type=checkbox]:checked ~ span {
  color: #FFFFFF;
  background: #0A4900 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHdpZHRoPSIxMiIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTIgOSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCiAgPHBhdGggZD0iTTQuNTc1IDguOTc3cy0uNDA0LS4wMDctLjUzNi0uMTY1TC4wNTcgNS42NGwuODI5LTEuMjI3TDQuNDcgNy4yNjggMTAuOTIxLjA4NmwuOTIzIDEuMTAzLTYuODYzIDcuNjRjLS4xMzQtLjAwMy0uNDA2LjE0OC0uNDA2LjE0OHoiIGZpbGw9IiNGRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPg0KPC9zdmc+) 50% 40% no-repeat;
  border: 2px solid #0A4900;
}
label.checkbox.lgnd6 span {
  border-radius: 3px;
  position: absolute;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #d4d7dc;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*# sourceMappingURL=main.css.map */
